{% extends 'base.html.twig' %}

{% block title %}New Injury{% endblock %}

{% block content %}
<div class="text-center">
    <div class="d-inline-block p-4 border rounded" style="width: 600px;">
        <h3>Add Injury</h3>
        <p>Fill in the data below.</p>
        <form class="requires-validation" novalidate action="{{ path('app_injury_new2') }}" method="post">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                <label for="type">Type</label>
                {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Type', 'required': true}}) }}
                {% if form_errors(form.type) %}
                    <span class="text-danger">{{ form_errors(form.type) }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="incidentid">Incident ID</label>
                {{ form_widget(form.incident, {'attr': {'class': 'form-control', 'placeholder': 'Incident ID', 'required': true}}) }}
                {% if form_errors(form.incident) %}
                    <span class="text-danger">{{ form_errors(form.incident) }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="numberPers">Number of Persons</label>
                {{ form_widget(form.numberPers, {'attr': {'class': 'form-control', 'placeholder': 'Number of Persons', 'required': true}}) }}
                {% if form_errors(form.numberPers) %}
                    <span class="text-danger">{{ form_errors(form.numberPers) }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="severity">Severity</label>
                {{ form_widget(form.severity, {'attr': {'class': 'form-range', 'min': 1, 'max': 10, 'step': 1}}) }}
                {% if form_errors(form.severity) %}
                    <span class="text-danger">{{ form_errors(form.severity) }}</span>
                {% endif %}
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 10px;"><i class="fas fa-plus"></i> Add</button>
            </div>
            {{ form_end(form) }}
        </form>
        <a href="{{ path('app_injury_index2') }}" class="btn btn-link">Back to List</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
      public function getSeverityLevel(): string
{
    if ($this->severity < 3) {
        return 'Low';
    } elseif ($this->severity >= 3 && $this->severity <= 6) {
        return 'Medium';
    } else {
        return 'High';
    }
}

    </script>
{% endblock %}
