{% extends 'base.html.twig' %}

{% block title %}Update Work{% endblock %}

{% block content %}
    <h1>Update Work</h1>

    <form action="{{ path('work_update', {'id': work.getWorkid()}) }}" method="POST">
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="form-control" value="{{ work.getLocation() }}" required>
        </div>
        <div class="form-group">
            <label for="startdate">Start Date:</label>
            <input type="date" id="startdate" name="startdate" class="form-control" value="{{ work.getStartdate()|date('Y-m-d') }}" required>
        </div>
        <div class="form-group">
            <label for="enddate">End Date:</label>
            <input type="date" id="enddate" name="enddate" class="form-control" value="{{ work.getEnddate()|date('Y-m-d') }}">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control">{{ work.getDescription() }}</textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" id="isactive" name="isactive" class="form-check-input" {% if work.isIsactive() %}checked{% endif %}>
                <label class="form-check-label" for="isactive">isActive</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}
