{% extends 'baseModerna.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

  <!-- Slide 1 -->
<div class="carousel-item active">
  <div class="carousel-container">
    <h2 class="animate__animated animate__fadeInDown"> <span>{{ 'SmartScape'|trans({}, 'main-page')|raw }}</span></h2>
    <p class="animate__animated animate__fadeInUp">{{ 'Smart Scape revolutionizes urban mobility with seamless navigation, real-time traffic updates, and easy ticket . It empowers users to contribute to city improvement while ensuring smooth, sustainable travel experiences. Say goodbye to traffic frustrations and hello to effortless city journeys. Smart Scape is your go-to solution for smarter, greener, and more connected urban living. Sign up now and transform the way you navigate your city'|trans({}, 'main-page')|raw }}</p>
    <a href="" class="btn-get-started animate__animated animate__fadeInUp">{{ 'Read More'|trans({}, 'main-page')|raw }}</a>
  </div>
</div>

<!-- Slide 2 -->
<div class="carousel-item">
  <div class="carousel-container">
    <h2 class="animate__animated animate__fadeInDown">{{ 'SmartScape'|trans({}, 'main-page')|raw }}</h2>
    <p class="animate__animated animate__fadeInUp">{{ 'Smart Scape is changing the game in urban mobility. With its seamless navigation, up-to-the-minute traffic updates, and easy ticketing, it\'s making city travel smoother and more sustainable. By using Smart Scape, you\'re not just getting from A to B, you\'re also helping improve your city. No more frustrations with traffic, just effortless city journeys. It\'s the smart, green, and connected way to live in urban areas. Sign up today and see how Smart Scape can transform your city navigation.'|trans({}, 'main-page')|raw }}</p>
    <a href="" class="btn-get-started animate__animated animate__fadeInUp">{{ 'Read More'|trans({}, 'main-page')|raw }}</a>
  </div>
</div>

<!-- Slide 3 -->
<div class="carousel-item">
  <div class="carousel-container">
    <h2 class="animate__animated animate__fadeInDown">{{ 'SmartScape'|trans({}, 'main-page')|raw }}</h2>
    <p class="animate__animated animate__fadeInUp">{{ 'your key to smoother city travel. Real-time updates, seamless navigation, and hassle-free tickets. Join now for a smarter, greener urban experience.'|trans({}, 'main-page')|raw }}</p>
    <a href="" class="btn-get-started animate__animated animate__fadeInUp">{{ 'Read More'|trans({}, 'main-page')|raw }}</a>
  </div>
</div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->
   
{% set user = app.user %}

        {% set roles = user.getRoles() %}

{# Print roles (you can customize this as needed) #}
{% for role in roles %}
    {{ role }}<br>
{% endfor %}
<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Seamless Navigation</a></h4>
            <p class="description">Smart Scape provides easy-to-follow navigation, helping you find your way through the city without any hassle.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Real-time Traffic Updates</a></h4>
            <p class="description"> Stay informed about traffic conditions in real-time, allowing you to choose the fastest routes and avoid congestion.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Accident Avoidance</a></h4>
            <p class="description">Smart Scape can alert users about accidents along their route, helping them avoid delays and potential dangers.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Efficient Route Planning</a></h4>
            <p class="description">Smart Scape maps out the most efficient route for your ride, ensuring you reach your destination quickly and smoothly.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->


  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">

      <div class="section-title">
        <h2>Features</h2>
        <p>Smart Scape is your ultimate solution for navigating the city with ease. With its intelligent features, it revolutionizes urban mobility, ensuring you reach your destination smoothly and efficiently.</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="{{asset('assets2/img/features-1.svg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Smart Navigation:</h3>
          <ul>
            <li><i class="bi bi-check"></i> Real-time traffic updates help you avoid congestion and delays, ensuring a stress-free journey.</li>
            <li><i class="bi bi-check"></i> Provides intelligent routing, guiding you through the city with the quickest routes.</li>
          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="{{asset('assets2/img/features-2.svg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Personalized Preferences:</h3>
         
          <ul>
            <li><i class="bi bi-check"></i> Customize your routes based on your preferences and travel habits.</li>
            <li><i class="bi bi-check"></i> Whether you prefer the fastest route, least transfers, or avoiding toll roads, Smart Scape has you covered.</li>
          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="{{asset('assets2/img/features-3.svg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5">
          <h3>Incidents and Injuries</h3>
          <p>Imagine you're on your way to an important meeting in the city. You're already running late when suddenly, you encounter a major traffic jam due to a road closure for construction. Frustrated and unsure of what to do, you're worried about missing your appointment.</p>
          <ul>
            <li><i class="bi bi-check"></i> Smart Scape instantly notifies you about the road closure and the resulting traffic congestion.</li>
            
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="{{asset('assets2/img/features-4.svg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Weather Alerts:</h3>
          
          <p>
            Receive real-time weather forecasts and alerts along your route.
            Plan your journey accordingly to avoid adverse weather conditions.

          </p>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

</main><!-- End #main -->

{% endblock %}