{% extends 'baseModerna.html.twig' %}

{% block content %}
<h1>Station List</h1>


<input type="text" id="searchInput" placeholder="Type to search..." class="form-control mb-3" onkeyup="performSearch()"/>

<div class="sorting-options">
    <select name="sortField" id="sortField" class="form-select" style="width: 150px; display: inline-block;">
        <option value="name">Name</option>
        <option value="address">Address</option>
    </select>
    <select name="sortOrder" id="sortOrder" class="form-select" style="width: 150px; display: inline-block;">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
    </select>
    <button type="button" onclick="sortTable()" class="btn btn-primary" style="margin-left: 10px;">Sort</button>

</div>

<table>
<table id="basic-data-table" class="table nowrap" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th> <!-- Numérotation -->
            <th>Name</th>
            <th>Adress</th>
        </tr>
    </thead>
    <tbody>
        {% for Station in Stations %}
        <tr>
             <th scope="row">{{ loop.index }}</th> 
            <td>{{ Station.name }}</td>
            <td>{{ Station.address }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  

<script>
  
function performSearch() {
    const searchTerm = document.getElementById('searchInput').value;

    fetch('{{ path("Station_show2") }}?search=' + encodeURIComponent(searchTerm), {
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.text())
    .then(html => {
        document.getElementById('basic-data-table').innerHTML = html;
    })
    .catch(error => console.error('Error:', error));
}

function sortTable() {
    const sortField = document.getElementById('sortField').value;
    const sortOrder = document.getElementById('sortOrder').value;

    fetch('{{ path("Station_show2") }}?sortField=' + sortField + '&sortOrder=' + sortOrder, {
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.text())
    .then(html => {
        document.getElementById('basic-data-table').innerHTML = html;
    })
    .catch(error => console.error('Error:', error));
}


</script>

</div>


{% endblock %}


