{% extends 'baseModerna.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
<section class="service-details">
    {% for flashMessage in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        {{ flashMessage }}
    </div>
    {% endfor %}

    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
            <div class="row">
                <div class="bg-white border rounded">
                    <div class="row no-gutters">
                        <div class="col-lg-4 col-xl-3">
                            <div class="profile-content-left profile-left-spacing pt-5 pb-3 px-3 px-xl-5">
                                <div class="card text-center widget-profile px-0 border-0">
                                    <div class="card-img mx-auto rounded-circle">
                                        <img src="{{ asset(user.url) }}" alt="user image" style="width: 100px; height: 150px;">
                                    </div>
                                    <h4 class="py-2 text-dark">{{ user.nom }} {{ user.prenom }}</h4>
                                    <p>{{ user.email }}</p>
                                </div>
                                <div class="contact-info pt-4">
                                    <h5 class="text-dark mb-1">Contact Information</h5>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Email address</p>
                                    <p>{{ user.email }}</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Phone Number</p>
                                    <p>+99 9539 2641 31</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Birthday</p>
                                    <p>{{ user.age }}</p>
                                    <a href="#" class="mb-1 btn btn-outline btn-linkedin rounded-circle">
                                        <i class="mdi mdi-linkedin"></i>
                                    </a>
                                    <a href="#" class="mb-1 btn btn-outline btn-facebook rounded-circle">
                                        <i class="mdi mdi-facebook"></i>
                                    </a>
                                    <a href="#" class="mb-1 btn btn-outline btn-skype rounded-circle">
                                        <i class="mdi mdi-skype"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-9">
                            <div class="profile-content-right profile-right-spacing py-5">
                                <ul class="nav nav-tabs px-3 px-xl-5 nav-style-border" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                                    </li>
                                </ul>
                                <div class="tab-content px-3 px-xl-5" id="myTabContent">
                                    <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                        <div class="tab-pane-content mt-5">
                                            <form method="POST" action="{{ path('profile_update') }}" enctype="multipart/form-data">
                                                <div class="form-group row mb-6">
                                                    <label for="coverImage" class="col-sm-4 col-lg-2 col-form-label">User Image</label>
                                                    <div class="col-sm-8 col-lg-10">
                                                        <label for="fileUpload">Select a file:</label>
                                                        <input type="file" id="fileUpload" name="coverImage">
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="nom">Nom</label>
                                                            <input type="text" class="form-control" id="nom" name="nom" value="{{ user.nom }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="prenom">Prenom</label>
                                                            <input type="text" class="form-control" id="prenom" name="prenom" value="{{ user.prenom }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label for="email">Email</label>
                                                    <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label for="motDePasse">Mot de passe</label>
                                                    <input type="password" class="form-control" id="motDePasse" name="motDePasse">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label for="age">Age</label>
                                                    <input type="date" class="form-control" id="age" name="age" value="{{ user.age }}">
                                                </div>
                                                <div class="d-flex justify-content-end mt-5">
                                                    <button type="submit" class="btn btn-primary mb-2 btn-pill">Update Profile</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section><!-- End Contact Section -->
</section><!-- End Service Details Section -->
{% endblock %}
